# Database Configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=interntrack
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/interntrack
SYNC_DATABASE_URL=postgresql://postgres:postgres@db:5432/interntrack

# Security Configurations
JWT_SECRET=8f45a6c1e345f09ab93a1c22d140e948fbd7454c34a2e23924c529ba42398fd1
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Admin Seed Account
ADMIN_EMAIL=admin@interntrack.com
ADMIN_PASSWORD=Admin@123

# File Storage
UPLOAD_DIR=/app/uploads
MAX_UPLOAD_SIZE=5242880 # 5 MB in bytes
ALLOWED_EXTENSIONS=pdf,doc,docx,png,jpg,jpeg

# SMTP Email Configuration (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
